* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  :root {
    --light: #e8e8e8;
    --dark: #424242;
}

  h3 {
    margin: 0;
  }

  h1,h2,h3,h4,h5,p,figcaption {
    color: var(--dark);
}

nav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    background-color: white;
    align-items: center;
     
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
    padding: 5px 8px;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;   
    padding-right: 24px;
}


.logo {
    display: flex;
    align-items: center;
    color: var(--dark);
    line-height: 32px;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 24px;
  } 

.logo .logo-academy {
  font-weight: normal;
  opacity: .5;
}

  #hero {
    display: flex;
    align-items: center;
    background-color: var(--light);
  }

  .hero-img {
    padding: 32px 24px;
    width: 60%;
  }

  .hero-content {
    padding-left: 24px;
  }

  .button {
    background-color: var(--dark);
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  a.button:hover{
    opacity: .90;
}

 /* course section */

  #courses{
    padding: 72px;
    background-color: var(--light);
  }

  .course-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .course-gallery img {
    width: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);     
    margin: 16px;
    width: 25%;
    position: relative;
    flex-grow: 1;
    background-color: white;
  }
  
  .container {
    padding: 2px 16px;
  }


  .container-60 {
    width: 60%;
    padding: 32px 24px;
  }

  .container-60 img,video {
    width: 100%;
}

.container-40 {
  display: flex;
  flex-flow: column;
  align-items: start;
  width: 40%;
  padding-top: 1rem;
  border-left: var(--light) solid 1px;
}

#thesis .container-40  {
  border-left: 0px;
}

  .container-sxs {
    display: flex;
}

.centered-header {
  text-align: center;
  padding: 2rem 0 0 0;
  margin: 0;
}

  /* h8l card */

  .h8l-card {
    display: flex;
    border-bottom: var(--light) solid 1px;
}

.h8l-card:hover {
  background-color: var(--light); 
}

.h8l-card img {
  width: 35%;
  padding: 1rem;
}

.h8l-card-text {
  width: 65%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 250px;
}

.h8l-card-text h3 {
  margin: 0;
}

.h8l-card-text p {
  margin: .6em 0;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: var(--light) solid 1px;
  padding: 16px 24px;
}